body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: calc(100vh - 20px);
  background: linear-gradient(to right, #4568dc, #b06ab3);
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  position: absolute !important;
}

/* for Inputs */
input {
  &::-webkit-color-swatch {
    border: 0;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}

/*  for Code Block containing Inputs and Labels. */
.customColorInput {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  padding: 10px 16px;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  overflow: hidden;

  /* to make Read Only */
  &.isReadOnly {
    cursor: not-allowed;

    &>input[type="text"] {
      cursor: inherit;
      filter: contrast(0);
    }

    &>input[type="color"] {
      pointer-events: none;
      cursor: inherit;
    }
  }

  &__text-input {
    max-width: calc(100% - 24px);
    flex-grow: 1;
    order: 1;
    padding: 0;
    background: transparent;
    border: 0;
    font-size: 16px;
    line-height: 1;
    color: white;

    &:focus {
      outline: none;
    }
  }

  .invalid-feedback {
    order: 3;
  }

  &__select-input {
    flex-shrink: 0;
    order: 2;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}